<section>
  <div class="path">Portefolio > Présentation</div>
</section>

<style lang="scss">
  
  section {
    grid-area: Content;
    padding: 10px 20px;
  }

  .path{
    // font-weight: bold;
    color: #ccc;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

</style>